{% extends "base.html" %}
{% load static %}
{% block page_title%}
Homepage
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/blog.css" %}" />
<link rel="stylesheet" href="{% static "blog/post.css" %}" />
{%endblock%}


{% block page_content%}
<section id="welcome">
    <header>
        <img src="{% static "blog/images/DSC_1406.JPG" %}" alt="Aakash-author of blog" >
        <h2> Aakash's Blog </h2>
    </header>
</section>
<section id="latest-posts">
    <h2>My latest Thoughts </h2>
    <ul>
        {% for post in posts %}
        {% include "blog/includes/posts.html" %}  
        {% endfor %}
    </ul>
</section>
<section id="about">
    <h2>What I do</h2>
    <p>
        I love programming, I love to do new things and observe changes or mistakes.!
    </p>
    </section>
{% endblock %}
{% comment %} <div class="master-box">
    <div class="aboutme">
        <img src="" alt = "Aakash photo">
        <h1>About me</h1>
    </div>
    <div class="myBlogs">
        {% for blog in listOfBlogs%}
            <div>
                <a href="{% url "read" blog %}">{{ blog | title }}</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %} {% endcomment %}